OPENAI_API_KEY=sk-your-api-key-here

OPENAI_STT_MODEL=gpt-4o-transcribe
OPENAI_EMBEDDING_MODEL=text-embedding-3-large
OPENAI_CHAT_MODEL=gpt-4o-mini

CHROMA_DIR=./chroma_db

PROJECT_STATUS_JSONL=./status_projekata_vector_records.jsonl
HR_RECORDS_JSONL=./hr_records_vector_records.jsonl

GRADIO_HOST=127.0.0.1
GRADIO_PORT=7860
